/*总框架样式*/
*{
	padding: 0px;
	margin: 0px;
}
/*top样式*/
header{
	width: auto;
	min-width: 1263px;
	height: 99px;
	background-color: #888;
}
.center{
	width: 1188px;
	margin: 0 auto;
	position: relative;
}
.center > h1{
	text-indent: -99999px;
	position: absolute;
	display: block;
	width: 105px;
	height: 118px;
	background-image: url("../../img/logo.jpg");
	top: 10px;
	right: 0px;
	z-index: 2;
}
.center nav{
	width: auto;
	height: 69px;
	position: relative;
	top:33px;
}
.center nav h2{
	display: none;
}
.center nav ul{
	display: block;
	width: auto;
}
#topnav1{
	height: 30px;
}
#topnav2{
	height: 36px;
}
.center nav ul li{
	display: block;
	margin-left: 10px;
	float: left;
}
.center nav ul li a{
	color: #fff;
	font-weight: bold;
	font-family: verdana,arial;
}
#topnav1 li a{
	display: block;
	height: 30px;
	font-size: 12px;
}
#topnav2 li a{
	display: block;
	height: 36px;
	font-size: 16px;
}
.center ul li a:hover{
	color: #0653b6;
	text-decoration: none;
}
.center ul li a.blue{
	color: #1c69d4;
}
.center ul li a.blue:hover{
	color: #0653b6;
	text-decoration: none;
}

	/*foot*/

footer{
	width: auto;
	min-width: 1263px;
	height: 305px;
	margin: 0 auto;
	background-color: #8e8e8e;
}
	.footert,.footerm,.footerb{
		width: 1185px;
		margin: 0px auto;
	}
	.footert,.footert1,.footert2{
		height: 270px;
		/*background-color: red;*/
	}
	.footerm{
		height: 1px;
		background-color: #fff;
	}
	.footerb{
		height: 34px;
	}
	.footert1{
		width: 113px;
		float:left;
	}
	.footert2{
		width: 1072px;
		float:left;
	}
	.footert1 ul{
		width: 113px;
		height: 270px;
		/*background-color: red;*/
	}
	.footert1 ul li{
		display: block;
		width:113px;
		height:45px;
		color: #fff;
		font:bold 16px/45px verdana,arial;
	}
	.footert2 ul li{
		display: block;
		height: 45px;
		float:left;
		color: #fff;
		font:16px/45px verdana,arial;
		margin-right: 10px;
	}
	.footert2 ul{
		width: 1072px;
		height: 45px;
	}
	.footert2 ul li a:hover{
		color: #0653b6;
		text-decoration: none;
	}
	.footerb{
		color: #fff;
		font:16px/34px verdana,arial;
		text-align: right;
	}
